.balance-div {
  display: flex;
  justify-content: space-between;
}

.action {
  border: 1px solid black;
  margin-bottom: 10px;
}

.action p {
  padding: 10px 50px;
  margin: 0;
}

.activity {
  display: flex;
  justify-content: space-between;
  background: #F4F4F4;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.activity div p {
  margin: 0;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer p {
  padding: 12px 0 0 10px;
}